:root {
  --cursor-start: url('cross_start.png'), auto;
  --cursor-end: url('cross_end.png'), auto;
}

#paintingArea {
  border: 2px solid black;
  cursor: var(--cursor-start);
}

#paintedText {
  width: 100%;
}

form {
  border: 2px solid #3bdef2;
}

body {
  display: flex;
}
